<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Filtered Timetable</title>
</head>
<body>
<!--<table border="1">-->
<!--    <thead>-->
<!--    <tr>-->
<!--        <th>Day</th>-->
<!--        <th>Time</th>-->
<!--        <th>Subjects</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr th:each="dayEntry : ${timetable.entrySet()}">-->
<!--        <td th:rowspan="${dayEntry.value.size()}" th:text="${dayEntry.key}"></td>-->
<!--        <td th:each="timeEntry, timeStat : ${dayEntry.value.entrySet()}" th:text="${timeEntry.key}"></td>-->
<!--        <td th:each="subject, subjStat : ${timeEntry.value}" th:text="${subject}"></td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--</table>-->
<p th:text="${message}"></p>

<div th:if="${fileContent != null}">
    <h2>File Content:</h2>
    <p th:utext="${fileContent}"></p>
</div>
</body>
</html>
